.menu {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 10px 0;
  font-size: 20px;

}

.left-menu {
  justify-content: left;
  margin-left: 5%;
  width: 20%;

  .logo {
    cursor: pointer;
  }
}

.right-menu {
  justify-content: end;
  margin-right: 5%;
  display: flex;
}

.menu-button {
  margin: 5px;
}
body{
  height: 10%;
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}
.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.filter-green{
  filter: invert(100%) sepia(7%) saturate(0%) hue-rotate(145deg) brightness(109%) contrast(107%);;
}

img {
  width: 75px;
  margin-right: 25px;
}
