<div class="menu">
  <div class="left-menu">
    <button mat-button [mat-menu-trigger-for]="" class="menu-button">title</button>
    <button mat-button [mat-menu-trigger-for]="" class="menu-button">title</button>
    <button mat-button [mat-menu-trigger-for]="" class="menu-button">title</button>
  </div>

  <div class="right-menu">
    <button mat-button [mat-menu-trigger-for]="" class="menu-button">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-button [mat-menu-trigger-for]="" class="menu-button">
      <mat-icon>login</mat-icon>
    </button>
  </div>
</div>
