<div class="menu">
  <div class="left-menu">
    <a routerLink="home">
      <img class="logo" src="assets/icons/logo.svg" style="max-width:20%;">
    </a>
    <button mat-button class="menu-button" routerLink="airports">Airports List</button>
    <button mat-button class="menu-button">title</button>
    <button mat-button class="menu-button">title</button>
  </div>

  <div class="right-menu">
    <button mat-button class="menu-button">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>login</mat-icon>
    </button>
  </div>
</div>
