<body class="d-flex flex-column">
<div id="page-content">
  <div class="container text-center">
    <div class="row justify-content-center">
        <h1 class="fw-light mt-4 text-white">Get Data from all over the world !</h1>
        <p class="lead text-white-50">Check my other works !<a href="https://github.com/Jeffyshewan"><img src="assets/icons/github.png"></a></p>
    </div>
  </div>
</div>
<footer id="sticky-footer" class="flex-shrink-0 bg-dark text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; Air Data - Jean-François GAUTREAU</small>
  </div>
</footer>
</body>
